<!-- <div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <form *ngIf="!isLoggedIn"
          name="form"
          #f="ngForm"
          novalidate >
          <div class="modal-body">
            <div class="h5 modal-title text-center">
              <h4 class="mt-2">
                <div>Welcome back,</div>
                <span>Please sign in to your account below.</span>
              </h4>
            </div>
           
            <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_" class="mb-3">
             
              <div>
                <input id="username" name="username"
                type="text" placeholder="Enter username..." required="required"
                  aria-required="true" class="form-control" aria-describedby="exampleInputGroup1__BV_description_" [(ngModel)]="form.username"
                  #username="ngModel"
                  >
                
              </div>
            </div>
            <div id="exampleInputGroup2" role="group" class="mb-3">
              <div><input id="exampleInput2" [(ngModel)]="form.password"
                type="password" name="password" #password="ngModel"
                [(ngModel)]="form.password"

                placeholder="Enter password..." required="required"
                  aria-required="true" class="form-control"></div>
            </div>
            <div class="custom-control custom-checkbox form-check">
              <input id="exampleCheck" type="checkbox" name="check" autocomplete="off" class="form-check-input" value="true">
              <label for="exampleCheck" class="form-label form-check-label">
                Keep me logged in
              </label>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="isLoginFailed"
              >
                Login failed: {{ errorMessage }}
              </div>
            </div>
            <div class="divider"></div>
            <h6 class="mb-0">
              No account?
              <a [routerLink]="['/pages/register-boxed']" class="text-primary">Sign up now</a>
            </h6>
          </div>
          <div class="modal-footer clearfix">
            <div class="float-start"><a [routerLink]="['/pages/register-boxed']" routerLinkActive="active" class="btn-lg btn btn-link">Recover
                Password</a></div>
            <div class="float-end">
              <button type="button" (click)="onSubmit()" class="btn btn-primary btn-lg">Login to Dashboard</button>
            </div>
          </div>
        
          </form>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © ArchitectUI 2019
      </div>
    </div>
  </div>
</div> -->



<div class="ACM-h-100">
  <div class="row no-gutters">
    <div class="d-none d-lg-block col-lg-4">
      <div class="slider-light">
        <div class="slick-slider slick-dotted">
          <ngx-slick-carousel #slickModal='slick-carousel' (init)="slickInit($event)" [config]="slideConfig">
            <div ngxSlickItem [ngClass]="{'ACM-h-100' : true}">
              <div
                [ngClass]="{'position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate': true}">
                <div [ngClass]="{'slide-img-bg': true }"></div>
                <div [ngClass]="{'slider-content text-light': true }">
                  <h3>TALYS - THE HOUSE OF DIGITAL EXPERTS</h3>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
    <div class="ACM-h-100 col-md-12 col-lg-8">
      <div class="text-right pt-3 pr-5">
        <button class="mb-2 mx-2 border-0 btn-transition btn btn-outline-primary" (click)="langFR()"
          [disabled]="translate.currentLang === 'fr'">Français
        </button>
        <button class="mb-2 mx-2 border-0 btn-transition btn btn-outline-primary" (click)="langEN()"
          [disabled]="translate.currentLang === 'en'">English
        </button>
        <button class="mb-2 mx-2 border-0 btn-transition btn btn-outline-primary" (click)="langAR()"
          [disabled]="translate.currentLang === 'ar'">عربية
        </button>
      </div>
      <div class="ACM-h-100 d-flex bg-white justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
          <h4 class="mb-0">
            <div>welcome</div>
            <span>please_sign_in</span>
          </h4>
          <div class="divider"></div>
          <div>
            <form class="form" [formGroup]="loginForm">
              <div class="row">
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <div tabindex="-1" role="group">
                      <label> username</label>
                      <input type="text" placeholder="enter username" class="form-control"
                        formControlName="username">
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <div tabindex="-1" role="group">
                      <label>password</label>
                      <input type="password" placeholder="enter password" class="form-control"
                        formControlName="password">
                    </div>
                  </fieldset>
                </div>
              </div>
           
              <div class="text-danger">{{ error | translate }}</div>
              <div class="divider"></div>
              <div class="d-flex align-items-center">
                <div class="ml-auto">
                  <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-lg">login</button>
                  <button class="btn btn-link" >forget password?</button>
                  <a [routerLink]="['/pages/register-boxed']" routerLinkActive="active" class="btn-lg btn btn-link">
                    <button class="btn btn-link" >Register</button>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
