 <input
  (input)="onInputChange($event)"
  class="input"
  value="{{value}}"
  placeholder="Tap on the virtual keyboard to start"
/>
  <span >
	<div (click)="isActive = !isActive">
		<i class="fa fa-keyboard errspan" [ngClass]="{'active': !isActive}">	
		</i>
	  </div>
  </span>
 

  <div style="text-align:center" [ngClass]="!isActive ? 'hide-keyboard' : ''">
	<div class="simple-keyboard"></div>
	<div class="select-container">
		<select class='select-option' required (change)="onSelectChange($event)">
			<option class='option' [selected]="layout.name == selectedLayout" *ngFor='let layout of layouts' [value]="layout.name">{{layout.name}}</option>
		</select>
	</div>
  </div>

 





  