 <input
  (input)="onInputChange($event)"
  class="input"
  value="{{value}}"
  placeholder="Tap on the virtual keyboard to start"
/>
  <span >
	<div (click)="isActive = !isActive">
		<i class="fa fa-keyboard errspan" [ngClass]="{'active': !isActive}"></i>
	  </div>
  </span>
 

  <div style="text-align:center" [ngClass]="!isActive ? 'hide-keyboard' : ''">
	<div class="simple-keyboard"></div>
	<div class="select-container">
		<select class='select-option' required (change)="onSelectChange($event)">
			<option class='option' [selected]="layout.name == selectedLayout" *ngFor='let layout of layouts' [value]="layout.name">{{layout.name}}</option>
		</select>
	</div>
  </div>

  <h2>Upload File</h2>
  <input type="file" (change)="onFileChange($event)" name="file" />

  From Language : <select [(ngModel)]="from_lang" class="browser-default custom-select">
    <option value="Select one" selected>Select one</option>
    <option *ngFor="let l of langues">{{ l }}</option>
  </select>


  <select [(ngModel)]="to_lang" class="browser-default custom-select">
    <option value="Select one" selected>Select one</option>
    <option *ngFor="let l of langues">{{ l }}</option>
  </select>
  <button (click)="Download()">Download File</button> 

<br>
<br>
<br>
<textarea placeholder="document translated here" class = "valid" rows = "30" cols = "60">{{translation_doc}}</textarea> 

   
    




  
 





  