app-virtual-keyboad ul {
    text-align: center;
  }
  
  app-virtual-keyboad input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
  }
  
  app-virtual-keyboad .simple-keyboard {
    max-width: 850px;
    bottom: 500px;

  }

  app-virtual-keyboad #container {position:relative;}
  app-virtual-keyboad input {padding-left: 20px;}
  app-virtual-keyboad .icon {
  display:block;
  position:absolute;
  top:4px;
  left:4px;
  width:13px;
  height:13px;
  background-color:red;
}

i{ margin:15px; }



app-virtual-keyboad .fa.fa-keyboard.active::after {
 
  content: "/";
  color: rgb(255, 30, 0);
  font-weight: 700;
  font-size: 1.7em;
  left: 7px;
  top: -10px;
}

app-virtual-keyboad .fa.fa-keyboard:after {
  position: absolute;
  font-weight: 700;
  font-size: 1.7em;
  left: 7px;
  top: -10px;

  
  
}
app-virtual-keyboad .hide-keyboard {
  overflow: hidden;
  height: 0;
}

app-virtual-keyboad .errspan {
        float: right;
        margin-right: 6px;
        margin-top: -20px;
        position: relative;
        z-index: 2;
    }

