 <input
  (input)="onInputChange($event)"
  class="input"
  value="{{value}}"
  placeholder="Tap on the virtual keyboard to start"
/>
  <span >
	<div (click)="isActive = !isActive">
		<i class="fa fa-keyboard errspan" [ngClass]="{'active': !isActive}"></i>
	  </div>
  </span>
 

  <div style="text-align:center" [ngClass]="!isActive ? 'hide-keyboard' : ''">
	<div class="simple-keyboard"></div>
	<div class="select-container">
		<select class='select-option' required (change)="onSelectChange($event)">
			<option class='option' [selected]="layout.name == selectedLayout" *ngFor='let layout of layouts' [value]="layout.name">{{layout.name}}</option>
		</select>
	</div>
  </div>

  <!-- Source Language :<select #langSelect (change)="translate.use(langSelect.value)" [(ngModel)]="selectedlang" (ngModelChange)="select($event)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>

  Destination Language :<select #langSelect (change)="translate.use(langSelect.value)" [(ngModel)]="selectedlang" (ngModelChange)="select($event)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select> -->

  <h2>Upload File</h2>
  <input type="file" (change)="onFileChange($event)" name="file" />
  <!-- <button (click)="onClick()">Show File</button> -->
  <button (click)="testToast()">Make a toast!</button>


  <p-table [columns]="cols" [value]="users"  sortMode="multiple" #dt  >
    <ng-template pTemplate="caption">
  Users List
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
              {{user.id}}
            </td>
            <td>
              {{user.name}}
            </td><td>
              {{user.email}}
            </td>
        </tr>
    </ng-template>
  </p-table>
  






 

	 

 





  