<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ms-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Translation Module</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pages1Menu">
                <ng-template ngbPanelHeader>    
                  <a routerLinkActive="active-item" routerLink="/langues">
                   <button class="vsm-link">
                    <i class="vsm-icon pe-7s-safe"></i>
                     <span class="vsm-title">Setting Language</span> 
                  </button>
                  </a>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pages1Menu">
                <ng-template ngbPanelHeader>    
                  <a routerLinkActive="active-item" routerLink="/tabs">
                   <button class="vsm-link">
                    <i class="vsm-icon pe-7s-safe"></i>
                     <span class="vsm-title">Setting Translation</span> 
                  </button>
                  </a>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pages1Menu">
                <ng-template ngbPanelHeader>    
                  <a routerLinkActive="active-item" routerLink="/translation">
                   <button class="vsm-link">
                    <i class="vsm-icon pe-7s-safe"></i>
                     <span class="vsm-title">List of Translation</span> 
                  </button>
                  </a>
                </ng-template>
              </ngb-panel>

           
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Simple Virtual Keyboard</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pagesMenu3">
                <ng-template ngbPanelHeader>
                  <a routerLinkActive="active-item" routerLink="/keyboard">
                  <button class="vsm-link">
                    <i class="vsm-icon pe-7s-graph2"></i>
                    <span class="vsm-title">Virtual Keyboard</span>
                  </button>
                  </a>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/widgets/chart-boxes-3" class="vsm-link">
                          <span class="vsm-title">Variation 3</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
