<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme">
  <div class="app-header__logo">
    <div *ngIf="globals.sidebarHover === true">
      <span class="ACM_font ACM-header-logo">ADVANCED CREDIT MANAGEMENT</span>
    </div>
    <div *ngIf="globals.sidebarHover === false">
      <span class="ACM_font">ACM</span>
    </div>
  </div>
  <div class="app-sidebar-content" (mouseover)="sidebarHoverMouseIn()" (mouseout)="sidebarHoverMouseOut()">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true" class="scroll-container" [scrollIndicators]="true"
        style="max-width: 600px; max-height:650px;">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-header" ></div>
           
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel
                >
                <ng-template ngbPanelHeader>
                  <div class="vsm-header"></div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="elementsMenu"
               >
                <ng-template ngbPanelHeader>
                  <a [routerLink]="['/']"><button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-date"></i>
                    <span class="vsm-title">{{ 'home.Settings Languages' | translate }}</span>
                  </button>
                </a>
                </ng-template>
               
              </ngb-panel>
              <ngb-panel
              >
                <ng-template ngbPanelHeader>
                  <div class="vsm-header"></div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="materialFormControls"
              >
                <ng-template ngbPanelHeader>
                  <a [routerLink]="['/tabs']"><button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-user"></i>
                    <span class="vsm-title">{{'home.Settings Translation'| translate }}</span>
                  </button>
                </a>
                  </ng-template>
               
              </ngb-panel>
              <ngb-panel >
                <ng-template ngbPanelHeader>
                  <div class="vsm-header"></div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="pagesMenu3" >
                <ng-template ngbPanelHeader>
                  <a [routerLink]="['/translation']"><button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-credit"></i>
                    <span class="vsm-title">{{'home.List of translation'| translate }}</span>
                  </button>
                  </a>
                </ng-template>
              
              </ngb-panel>
              <ngb-panel
              >
                <ng-template ngbPanelHeader>
                  <div class="vsm-header"></div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="dmsMenu"
                >
                <ng-template ngbPanelHeader>
                  <a [routerLink]="['/keyboard']"><button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-cloud-upload"></i>
                    <span class="vsm-title">{{'home.Virtual Keyboard'| translate }}</span>
                  </button>
                  </a>
                </ng-template>
                
              </ngb-panel>
            
            
             
            
          </ngb-accordion> 
        </div>
    </div>
    </perfect-scrollbar>
  </div>
</div>
</div>
