.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  i.active {
    color: #5cb85c;
  }
  
  i.inactive {
    color: #d9534f;
  }

 