<h3>Settings Languages</h3>
<style>
  .active, .inactive {
         font-size: 26px;
         cursor: pointer;
     }

     .active, .inactive {
         font-size: 26px;
         cursor: pointer;
     }

     i.active {
         color: #5cb85c;
     }

     i.inactive {
         color: #d9534f;
     }
 </style> 
<div class="border">
  <button class="btn btn-md btn-outline-primary ml-auto pull-right" (click)="open(content)">
    <i class="fa fa-user"></i>Add</button>
</div>

  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="name">Code</th>
        <th scope="col" sortable="area">Name</th>
        <th scope="col" sortable="area">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let l of langues| paginate : {
          itemsPerPage: pageSize,
          currentPage: page,
          totalItems: count
        };
  let i = index
  "
  [class.active]="i == currentIndex">
       
        <td>{{ l.locale }}</td>
        <td>{{ l.languageName }}</td>
        <td >
          <div class="row">
            <label class="switch">
            <input type="checkbox" [(ngModel)]="l.global" (change)="toggleVisibility($event,i)" [disabled]="true">
            <span class="slider round"></span>
            </label>
    </div>
    
        </td>
        <td>
          <button class="mb-2 me-2 btn btn-danger" (click)="openDelete(contentDelete, l)">Delete</button>
          <button class="mb-2 me-2 btn btn-success" (click)="openEdit(contentEdit,l.id)">Edit</button>

          
        </td>
      </tr>
    </tbody>
  </table>
   -->


  <div style = "margin-top: 40px">
  <p-table [columns]="cols" [value]="langues" 
  [lazy]="true" sortMode="multiple" #dt (onLazyLoad)="handlePageChange($event)" [paginator]="true"
    [rows]="2" [totalRecords]="count"  [currentPageReportTemplate]="'page of count'"
     [showCurrentPageReport]=true [rowsPerPageOptions]="[1,2,5,10]"
     
  >

  
    <ng-template pTemplate="caption">
  Languages List
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>

        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-langue >
        <tr>
            <td>
              {{langue.locale}}
            </td>
            <td>
              {{langue.languageName}}
            </td>
            <td>
              <div class="row">
                <label class="switch">
                <input type="checkbox" [(ngModel)]="langue.global" (change)="toggleVisibility($event,i)" [disabled]="true">
                <span class="slider round"></span>
                </label>
                </div>
                </td>
                <td>
                  <button class="mb-2 me-2 btn btn-danger" (click)="openDelete(contentDelete, langue)">Delete</button>
                  <button class="mb-2 me-2 btn btn-success" (click)="openEdit(contentEdit,langue.id)">Edit</button>            
                </td>  
        </tr>
    </ng-template>
  </p-table>
  </div>
  <!-- <p-paginator (onPageChange)="handlePageChange($event)"
  previousLabel="Prev"
  nextLabel="Next"
  responsive="true"
  [rows]="pageSize"
  

  >
    
  </p-paginator>   -->
  
  <!-- <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div> 
  Items per Page:
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [ngValue]="size">
      {{ size }}
    </option>
  </select> -->



  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Langue</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="form-group">
              <label for="firstname">Locale</label>
                <select class="form-control" id="locale" name="locale" class="form-control" ngModel (ngModelChange)="select($event)" >
                  <option value="Select one" selected>Select one</option>
                  <option *ngFor="let c of languages" >{{ c.code }}</option>
                </select>
              </div>
            
            <div class="form-group">
              <label for="lastname">LanguageName</label>
              <div class="input-group">
                <input id="languageName" name="languageName" class="form-control" ngModel [(ngModel)]="langueName">
              </div>
            </div>
            <div class="border text-center">
              <button data-dismiss="modal" class="btn btn-info">Submit</button>
              </div>
        </form>
      </div>
     
    </ng-template>

    <ng-template #contentDelete let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Are you sure you want to delete this record.</h2>
        <div class="border text-center"> 
          <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      </div>
    </ng-template>

    <ng-template #contentEdit let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Langue</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmitEdit(f)" novalidate>
          <div class="form-group">
              <label for="locale">Locale</label>
              <div class="input-group" >
                <input [readonly]="true" id="locale" name="locale" class="form-control" ngModel [(ngModel)]="langue.locale" />
              </div>
            </div>
            <div class="form-group">
              <label for="languageName">LanguageName</label>
              <div class="input-group">
                <input id="languageName" name="languageName" class="form-control" ngModel [(ngModel)]="langue.languageName">
              </div>
            </div>

            <div class="form-group">
              <!-- <label class="switch">
              <input id="global" name="global" type="checkbox" ngModel [(ngModel)]="langue.global"  (change)="toggleVisibility($event,langue.id)" >
              <span class="slider round"></span>
              </label> -->
              <i class="fa fa-toggle-on" id="global" name="global" [(ngModel)]="langue.global" ngModel [ngClass]="langue.global?'active':'fa-rotate-180 inactive'" (click)="langue.global=!langue.global" ></i> 

              </div>
            <div class="border text-center">
              <button data-dismiss="modal" class="btn btn-info">Submit</button>
              </div>
        </form>
      </div>
     
    </ng-template>

   
    


   

    
   
      