<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title> -->
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name_column</th>
        <th scope="col">type_column</th>
        <th scope="col">show translation</th>

      </tr>
    </thead>
    <tbody *ngIf="!value_json">
      <tr [ngStyle]="{'backgroundColor': c.type_column !== 'varchar' ? 'red' : 'green'}" *ngFor="let c of col;index as i">
        <th scope="row">1</th>
        <td>{{c.name_column}}</td>
        <td>{{c.type_column}}</td>
        <td>
            <div *ngIf="c.type_column === 'varchar'">
              <button class="mb-2 me-2 btn btn-focus" (click) ="show(i)">show translation</button>
            </div>
           
        </td>

      </tr>
     
    </tbody>

    <tbody *ngIf="value_json">
      <tr [ngStyle]="{'backgroundColor': c.name_column !== 'VALUE_JSON' ? 'red' : 'green'}" *ngFor="let c of col;index as i">
        <th scope="row">1</th>
        <td>{{c.name_column}}</td>
        <td>{{c.type_column}}</td>
        <td>
            <div *ngIf="c.name_column === 'VALUE_JSON'">
              <button class="mb-2 me-2 btn btn-focus" (click) ="show(i)">show translation</button>
            </div>
        </td>

      </tr>
     
    </tbody>
  </table>
