<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<a routerLink="/tabs"><i class="fa fa-solid fa-arrow-left"></i></a>

  <p-table *ngIf="!value_json" [columns]="cols" [value]="col"  sortMode="multiple" #dt 
  [paginator]="true"
  [rows]="pageSize" [totalRecords]="count"
   [showCurrentPageReport]=true [rowsPerPageOptions]="[1,2,5,10]"  [responsive]="true" >
    <ng-template pTemplate="caption">
      {{ 'home.Columns List' | translate }}
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header | translate}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <input type="text" (click)="$event.stopPropagation()" pInputText (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

            </th>
        </tr>
      
    </ng-template>
    <ng-template pTemplate="body" let-c let-rowIndex="rowIndex">
        <tr>
            <td>
              {{c.name_column}}
              </td>
            <td>
              {{c.type_column}}          
              </td>
            <td>
              <div class="form-control-wrapper" *ngIf="c.type_column !== 'varchar'">
                <mat-icon [ngStyle]="{'color':'#dc3545'}" class="error-icon"
                data-placement="right" matTooltip="column type not varchar">error</mat-icon>
               
              </div>
                <div *ngIf="c.type_column === 'varchar'">
                  <button ngcontent-aqn-c41="" class="btn btn-warning"><i ngcontent-aqn-c41="" class="pe-7s-look btn-icon-wrapper text-white" (click) ="show(rowIndex)"></i></button>
                  <!-- <button _ngcontent-aqn-c9="" icon="fa fa-edit" pbutton="" type="button" ng-reflect-icon="fa fa-edit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" (click) ="show(rowIndex)"><span aria-hidden="true" class="ui-button-icon-left ui-clickable fa fa-edit"></span><span class="ui-button-text ui-clickable"></span></button> -->
                  <!-- <button class="mb-2 me-2 btn btn-focus" (click) ="show(rowIndex)">show translation</button> -->
                </div>    
                </td>
               
        </tr>
    </ng-template>
  </p-table>



  <p-table *ngIf="value_json" [columns]="cols" [value]="col"  sortMode="multiple" #dt 
  [paginator]="true"
  [rows]="pageSize" [totalRecords]="count"
   [showCurrentPageReport]=true [rowsPerPageOptions]="[1,2,5,10]"  [responsive]="true" >
    <ng-template pTemplate="caption">
  Languages List
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <input type="text" (click)="$event.stopPropagation()" pInputText (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

            </th>

        </tr>
       
    </ng-template>
    <ng-template pTemplate="body" let-c let-rowIndex="rowIndex">
        <tr>
            <td>
              {{c.name_column}}
              </td>
            <td>
              {{c.type_column}}          
              </td>
            <td>
              <div *ngIf="c.name_column !== 'VALUE_JSON'">
                <mat-icon [ngStyle]="{'color':'#dc3545'}" class="error-icon"
                data-placement="right" matTooltip="column values cannot be translated">error</mat-icon>             
            </div>         
              <div *ngIf="c.name_column === 'VALUE_JSON'">
                <button ngcontent-aqn-c41="" class="btn btn-warning"><i ngcontent-aqn-c41="" class="pe-7s-look btn-icon-wrapper text-white" (click) ="show(rowIndex)"></i></button>

                <!-- <button class="mb-2 me-2 btn btn-focus" (click) ="show(rowIndex)">show translation</button> -->
              </div>  
                </td>
               
        </tr>
    </ng-template>
  </p-table>
