 @import "assets/base";
 @import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// #toast-container > div {
//   opacity:1;
// } 
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.active, .inactive {
  font-size: 26px;
  cursor: pointer;
}

.active, .inactive {
  font-size: 26px;
  cursor: pointer;
}

i.active {
  color: #5cb85c;
}

i.inactive {
  color: #d9534f;
}

.close-modale {
  border: none !important;
  background: none !important;
}